.ResultsTable {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.ResultsTable table {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
}

.ResultsTable td,
.ResultsTable th {
    overflow: hidden;
    min-width: 50px;
    text-align: center;
    padding: 5px;
}

.ResultsTable tr:first-child {
    border-bottom: 1px solid black;
}
